{% load  static %}
<html>
    <div class="bg-warning p-2 text-black bg-opacity-10">
    <head>
        <title>어학시험 분석</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>
        <ul class="nav justify-content-center">
        <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white">분석배경</p></a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/survey/survey_form/"><p class="text-white">설문참여하기</p></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/survey/mbti/"><p class="text-white">MBTI별</p></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/survey/major/"><p class="text-white">전공별</p></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/survey/study/"><p class="text-white">공부방법별</p></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/survey/pred_user/"><p class="text-white">성적예측</p></a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
            </li>
            <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
        </li>
        <a class="nav-link active" aria-current="page" href="/survey/background/"><p class="text-white"></p></a>
    </li>
        </nav>
        </ul>
        <center>
        <h1>프로젝트 3팀</h1>
        </center>
        <hr/>

        <p align="center"><img src="/static/surveyapp/img/img2.png" style="width: 40vw; min-width: 200px;">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    </body>
    </div>
</html>